.login-section {
  display: flex;
  overflow: hidden;
  height: 100vh;
  color: var(--blue-900);
}

.login-logo {
  font-size: var(--font-5);
  letter-spacing: 0.5rem;
  font-weight: 900;
}

.login-left-side {
  min-width: 35%;
  height: 100%;
  background-color: var(--brand-yellow);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  background-color: var(--white);
  padding: 5% 10% 5% 10%;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: var(--radius-3);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}

.login-form-message {
  font-size: var(--font-4);
}

.login-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-button,
.login-input {
  font-size: var(--font-2);
}

.login-input,
.login-button {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--gray);
  height: 75px;
  border-radius: var(--radius-2);
}

.login-label {
  font-size: var(--font-1);
  font-weight: 500;
  cursor: pointer;
  font-size: calc(var(--font-2) - 4px);
}

.login-button {
  background-color: var(--blue-600);
  color: var(--white);
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--blue-700);
  transition: 0.2s;
}

.login-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 60px;
}

.login-image {
  width: 65%;
}
