.registration-section {
  display: flex;
  overflow: hidden;
  height: 100vh;
  color: var(--blue-900);
}

.registration-logo {
  font-size: var(--font-5);
  letter-spacing: 0.5rem;
  font-weight: 900;
}

.registration-left-side {
  min-width: 35%;
  height: 100%;
  background-color: var(--brand-yellow);
}

.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registration-form {
  background-color: var(--white);
  padding: 5% 10% 5% 10%;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: var(--radius-3);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}

.registration-form-message {
  font-size: var(--font-4);
}

.registration-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-height: 120px;
  max-height: 120px;
  border: 1px solid black;
}

.registration-group span {
  color: rgb(185, 0, 0);
}

.registration-button,
.registration-input {
  font-size: var(--font-2);
}

.registration-input,
.registration-button {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--gray);
  height: 75px;
  border-radius: var(--radius-2);
}

.registration-label {
  font-size: var(--font-1);
  font-weight: 500;
  cursor: pointer;
  font-size: calc(var(--font-2) - 4px);
}

.registration-button {
  background-color: var(--blue-600);
  color: var(--white);
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

.registration-button:hover {
  background-color: var(--blue-700);
  transition: 0.2s;
}

.registration-links {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  height: 50px;
}

.registration-image {
  width: 65%;
}
