.auth-group {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  margin-bottom: 1rem;
}

.auth-group span {
  color: rgb(185, 0, 0);
}

.auth-group:has(span) .auth-input {
  border: 1px solid red;
}

.auth-input:valid {
  border: 1px solid green;
}

.auth-input {
  display: flex;
  flex-direction: column;

  height: 75px;
  padding: 1.5rem;

  border: none;
  outline: none;

  background-color: var(--gray);
  font-size: var(--font-2);
  border-radius: var(--radius-2);
}

.auth-label {
  font-weight: 500;
  cursor: pointer;
  font-size: calc(var(--font-2) - 4px);
}
