.auth-button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-2);
  height: 75px;
  border: none;
  border-radius: var(--radius-2);
  background-color: var(--blue-600);
  color: var(--white);
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}

.auth-button:hover {
  background-color: var(--white);
  border: 2px solid var(--blue-600);
  color: var(--blue-600);
}
