@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Amarelo */
  --brand-yellow: #fdc500; /* Amarelo principal */
  --brand-yellow-light: #ffd60a; /* Amarelo mais claro */
  --brand-yellow-alt: #ffc300; /* Variação */

  /* Azuis */
  --blue-900: #000814; /* Quase preto, fundo escuro */
  --blue-700: #003566; /* Azul escuro */
  --blue-600: #003f88; /* Azul médio */
  --blue-500: #00509d; /* Azul vivo */

  /* Neutros */
  --gray-200: #d9d9d9; /* Cinza claro */
  --white: #ffffff; /* Branco */
  --black: #000000; /* Preto puro */

  /* Múltiplos de 8 */
  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;

  /* Tamanho das fonts */
  --font-1: 16px;
  --font-2: 24px;
  --font-3: 32px;
  --font-4: 48px;
  --font-5: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
